body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  opacity: 0.2;
  transition: 0.5s;
}
.arrow:hover{
    opacity: 1;
}

#arrow-left {
  border-width: 40px 30px 40px 0;
  border-color: transparent #ccccff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 40px 0 40px 30px;
  border-color: transparent transparent transparent #ccccff;
  right: 0;
  margin-right: 30px;
}
